*{
    font-family: "Helvetica Black", Arial, sans-serif;
}

.col{
    border: 1px solid;
    min-width: none;
    background-color:rgb(252, 0, 0);
    color: white;
    font-size: 18px;
}

.navbar navbar-expand-lg bg-body-tertiary{
    font-size: 22px;
}

.dropdown-items{
    text-decoration:dotted color;
    color: black;
    background-color:white;
    font-size: 20px;
    padding-top: 3px;
    margin-top: 10px ;
}

.Redes-sociales{
    text-decoration:dotted color;
    color: black;
    background-color:white;
    font-size: 20px;
    padding-top: 3px;
}

.col-7{
    border: 1px solid;
    min-width: none;
    background-color:rgb(252, 0, 0);
    color: white;
    font-size: 18px;
}

.Registrarse{
    margin-left: 10px;
}